[submodule "extension/lib/imgui"]
	path = extension/lib/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "extension/lib/imgui-node-editor"]
	path = extension/lib/imgui-node-editor
	url = https://github.com/nspitko/imgui-node-editor.git
	branch = TypeOverrideFix
	ignore = dirty